<h1>Listing mongo_posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mongo_posts.each do |mongo_post| %>
  <tr>
    <td><%= mongo_post.title %></td>
    <td><%= mongo_post.content %></td>
    <td><%= link_to 'Show', mongo_post %></td>
    <td><%= link_to 'Edit', edit_mongo_post_path(mongo_post) %></td>
    <td><%= link_to 'Destroy', mongo_post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mongo post', new_mongo_post_path %>
