<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Url:</b>
  <%= @story.url %>
</p>

<p>
  <b>Voters list:</b>
  <%= @story.voters_list %>
</p>

<p>
  <b>Slug:</b>
  <%= @story.slug %>
</p>

<p>
  <b>Relevance:</b>
  <%= @story.relevance %>
</p>

<p>
  <b>Username:</b>
  <%= @story.username %>
</p>

<p>
  <b>User:</b>
  <%= @story.user_id %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
